<div class="container-md mt-5">
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="username" formControlName="username" class="form-control" id="username" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" formControlName="password" class="form-control" id="password" placeholder="Enter a password">
        </div>
        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit">Log In</button>
        </div>
    </form>
</div>